---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% include adsense.html %}
  <br />
  {{ page.description }}
  <hr />
  {{ content }}

  <hr />
  <div class="tags">
    <a href="/category/#{{ page.category }}">
      <code>{{ page.category }}</code>
    </a>
  {% for tag in page.tag %}
    <a href={{site.url}}/tags/#{{tag}} class="tag">{{tag}}</a>
  {% endfor %}
  </div>
</div>

{% include disqus.html %}
{% include adsense.html %}

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-583d6d9fcd48f9db"></script><!--recommand post-->
